  <h1>Personal</h1>
  
  <p> Owning and riding a bike is the best thing you can do to get around Chicago. A bike is a two-wheeled vehicle that is propelled by pedals and steered with handlebars. Bikes are city vehicles and make getting around a city a lot easier than driving a car. I chose this topic because I’m a bike lover, and I wanted to find out if other people agreed with me. Bikes are better than cars because they are easier to maintain, they are cheaper, and they are more accessible. </p>
  
  <img src=http://marilynch.com/blog/wp-content/uploads/2013/08/Cath-and-Crew-cropped.jpg height="500" width="800">
  
  <img src=http://blog.citygrounds.com/wp-content/uploads/2013/07/Unknown-LV1-Pre-Order.jpg height="500" width="800">